.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.produto--destaque {
    background-color: #f0f0f0;
}

.produto__imagem {
    width: 100%;
    height: auto;
}

.produto__nome {
    margin-top: 10px;
    margin-bottom: 10px;
}

.produto__descricao {
    margin-bottom: 10px;
}